#header {
    height: 70px;
    background-color: aquamarine;
    padding: 1.5rem;

}

#botao1 {
    height: 70px;
    font-size: x-large;
}

#botao2 {
    height: 70px;
    font-size: x-large;
}

#botao3 {
    height: 70px;
    font-size: x-large;
}

#botao4 {
    height: 70px;
    font-size: x-large;
}